body{
    font-family: Arial, Helvetica, sans-serif;
}

.borde_form{
    padding: 20px;
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 10px;
}


.accordion-button{
    background-color: rgb(113, 113, 248);
    color: white;
}

.form-control{
    border: 1px solid black;
}

.opciones{
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 12px;
}


/* Estilos para hacer la tabla responsive en tamaños de celular */
@media (max-width: 767px) {
    /* Hacer que las filas de la tabla se muestren como bloques */
    .table-responsive tbody tr {
        display: block;
    }

    /* Estilo para las celdas de la tabla */
    .table-responsive tbody td {
        text-align: left;
        margin-bottom: 10px;
    }

    /* Ocultar las etiquetas de encabezado */
    .table-responsive thead {
        display: none;
    }

    /* Estilo para las celdas de la tabla */
    .table-responsive tbody td:before {
        content: attr(data-label);
        font-weight: bold;
        display: inline-block;
        width: 100px; /* Ajusta el ancho según tu diseño */
    }
}
